In [1]:
#installing pyspark
! pip install pyspark

Requirement already satisfied: pyspark in c:\users\anura\.conda\envs\new_env\lib\site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\anura\.conda\envs\new_env\lib\site-packages (from pyspark) (0.10.9.7)

In [2]:
from pyspark.sql import SparkSession

In [3]:
# Creating a new SparkSession named 'Project'.
spark=SparkSession.builder.appName('Project').getOrCreate()

In [4]:
spark

In [5]:
#Creating a PySpark dataframe ' df_application_record ' by reading a CSV file named 'application_record.csv' 
#The option('header', 'true') method specifies that the first row of the CSV file contains the column names.
#The inferSchema=True option specifies that Spark should attempt to infer the data types of each column.
df_application_record=spark.read.csv('dataset/application_record.csv', header = True , inferSchema = True)

In [6]:
# Printing the schema of dataframe df_application_record.
df_application_record.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- CODE_GENDER: string (nullable = true)
 |-- FLAG_OWN_CAR: string (nullable = true)
 |-- FLAG_OWN_REALTY: string (nullable = true)
 |-- CNT_CHILDREN: integer (nullable = true)
 |-- AMT_INCOME_TOTAL: double (nullable = true)
 |-- NAME_INCOME_TYPE: string (nullable = true)
 |-- NAME_EDUCATION_TYPE: string (nullable = true)
 |-- NAME_FAMILY_STATUS: string (nullable = true)
 |-- NAME_HOUSING_TYPE: string (nullable = true)
 |-- DAYS_BIRTH: integer (nullable = true)
 |-- DAYS_EMPLOYED: integer (nullable = true)
 |-- FLAG_MOBIL: integer (nullable = true)
 |-- FLAG_WORK_PHONE: integer (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- FLAG_EMAIL: integer (nullable = true)
 |-- OCCUPATION_TYPE: string (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)

In [7]:
# Displaying the df_application_record dataframe 
df_application_record.show()

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
|5008804|          M|           Y|              Y|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           null|            2.0|
|5008805|          M|           Y|              Y|           0|        427500.0|             Working|    Higher education|      Civil marriage| Rented apartment|    -12005|        -4542|         1|              1|         0|         0|           null|            2.0|
|5008806|          M|           Y|              Y|           0|        112500.0|             Working|Secondary / secon...|             Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|
|5008808|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008809|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008810|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008811|          F|           N|              Y|           0|        270000.0|Commercial associate|Secondary / secon...|Single / not married|House / apartment|    -19110|        -3051|         1|              0|         1|         1|    Sales staff|            1.0|
|5008812|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           null|            1.0|
|5008813|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           null|            1.0|
|5008814|          F|           N|              Y|           0|        283500.0|           Pensioner|    Higher education|           Separated|House / apartment|    -22464|       365243|         1|              0|         0|         0|           null|            1.0|
|5008815|          M|           Y|              Y|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|
|5112956|          M|           Y|              Y|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|
|6153651|          M|           Y|              Y|           0|        270000.0|             Working|    Higher education|             Married|House / apartment|    -16872|         -769|         1|              1|         1|         1|    Accountants|            2.0|
|5008819|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008820|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008821|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008822|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008823|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008824|          M|           Y|              Y|           0|        135000.0|Commercial associate|Secondary / secon...|             Married|House / apartment|    -17778|        -1194|         1|              0|         0|         0|       Laborers|            2.0|
|5008825|          F|           Y|              N|           0|        130500.0|             Working|   Incomplete higher|             Married|House / apartment|    -10669|        -1103|         1|              0|         0|         0|    Accountants|            2.0|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+
only showing top 20 rows

In [8]:
# Displayimg the number of rows and column in df_application_record dataframe
num_rows1 = df_application_record.count()
num_cols1 = len(df_application_record.columns)
print("No. of Rows in application_record data frame:" ,num_rows1 )
print("No. of Columns in application_record data frame:" , num_cols1)

No. of Rows in application_record data frame: 438557
No. of Columns in application_record data frame: 18

In [10]:
#Creating a PySpark dataframe ' df_credit_record ' by reading a CSV file named 'credit_record.csv' 
#The option('header', 'true') method specifies that the first row of the CSV file contains the column names.
#The inferSchema=True option specifies that Spark should attempt to infer the data types of each column.
df_credit_record = spark.read.csv('dataset/credit_record.csv', header = True , inferSchema=True)

In [11]:
# Printing the schema of dataframe df_credit_record.
df_credit_record.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- MONTHS_BALANCE: integer (nullable = true)
 |-- STATUS: string (nullable = true)

In [12]:
# Displaying the df_credit_record dataframe 
df_credit_record.show()

+-------+--------------+------+
|     ID|MONTHS_BALANCE|STATUS|
+-------+--------------+------+
|5001711|             0|     X|
|5001711|            -1|     0|
|5001711|            -2|     0|
|5001711|            -3|     0|
|5001712|             0|     C|
|5001712|            -1|     C|
|5001712|            -2|     C|
|5001712|            -3|     C|
|5001712|            -4|     C|
|5001712|            -5|     C|
|5001712|            -6|     C|
|5001712|            -7|     C|
|5001712|            -8|     C|
|5001712|            -9|     0|
|5001712|           -10|     0|
|5001712|           -11|     0|
|5001712|           -12|     0|
|5001712|           -13|     0|
|5001712|           -14|     0|
|5001712|           -15|     0|
+-------+--------------+------+
only showing top 20 rows

In [13]:
# Displayimg the number of rows and column in df_credit_record dataframe
num_rows2 = df_credit_record.count()
num_cols2 = len(df_credit_record.columns)
print("No. of Rows in credit_record data frame: " ,num_rows2)
print("No. of Columns in credit_record data frame: " ,num_cols2)

No. of Rows in credit_record data frame:  1048575
No. of Columns in credit_record data frame:  3

In [14]:
# Mergeing both application_record and credit record on ID and creating new dataframe df_final
df_final= df_application_record.join(df_credit_record, on="ID")

In [15]:
# Displayimg the number of rows and column in df_final dataframe
num_rows3 = df_final.count()
num_cols3 = len(df_final.columns)
print("No. of Rows in final data frame:" ,num_rows3)
print("No. of Columns in final data frame:",num_cols3)

No. of Rows in final data frame: 777715
No. of Columns in final data frame: 20

In [16]:
# Checking Null values
from pyspark.sql.functions import col,sum
null_counts = df_final.select(*(sum(col(c).isNull().cast("int")).alias(c) for c in df_final.columns))
null_counts.show()

+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
| ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS|
+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
|  0|          0|           0|              0|           0|               0|               0|                  0|                 0|                0|         0|            0|         0|              0|         0|         0|         240048|              0|             0|     0|
+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+

In [17]:
# Removing Null values
df_final = df_final.dropna()

In [18]:
# Checking Null values again
null_counts2 = df_final.select(*(sum(col(c).isNull().cast("int")).alias(c) for c in df_final.columns))
null_counts2.show()

+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
| ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS|
+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
|  0|          0|           0|              0|           0|               0|               0|                  0|                 0|                0|         0|            0|         0|              0|         0|         0|              0|              0|             0|     0|
+---+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+

In [19]:
# Displayimg the number of rows and column in df_final dataframe after removing Null values
num_rows4 = df_final.count()
num_cols4 = len(df_final.columns)
print("No. of Rows in final data frame after droping null value: ",num_rows4)
print("No. of Columns in final data frame after droping null value: " ,num_cols4)

No. of Rows in final data frame after droping null value:  537667
No. of Columns in final data frame after droping null value:  20

In [20]:
# Transforming Status column values
# 0: 1-29 days past due 
# 1: 30-59 days past due
# 2: 60-89 days overdue 
# 3: 90-119 days overdue
# 4: 120-149 days overdue 
# 5: Overdue or bad debts, write-offs for more than 150 days 
# C: paid off that month 
# X: No loan for the month
df_final.groupBy("STATUS").count().show()

+------+------+
|STATUS| count|
+------+------+
|     3|   181|
|     0|200930|
|     5|  1087|
|     C|226185|
|     X|102167|
|     1|  6423|
|     4|   152|
|     2|   542|
+------+------+

In [21]:
df_final.groupBy("STATUS").count().show()

+------+------+
|STATUS| count|
+------+------+
|     3|   181|
|     0|200930|
|     5|  1087|
|     C|226185|
|     X|102167|
|     1|  6423|
|     4|   152|
|     2|   542|
+------+------+

In [22]:
# replacing the status values as good (1) = 'X','C','0' & bad (0)= Others.
# replacing FLAG_OWN_CAR, FLAG_OWN_REALITY, CODE_GENDER value as 0 & 1
from pyspark.sql.functions import when
df_final = (df_final
            .withColumn("STATUS", when(df_final.STATUS.isin(['X','C']),1).otherwise(0))
            .withColumn('CODE_GENDER', when(df_final['CODE_GENDER'] == 'M', 0).otherwise(1))
            .withColumn('FLAG_OWN_CAR', when(df_final['FLAG_OWN_CAR'] == 'Y', 0).otherwise(1))
            .withColumn('FLAG_OWN_REALTY', when(df_final['FLAG_OWN_REALTY'] == 'Y', 0).otherwise(1))
           )

In [23]:
df_final.groupBy("STATUS").count().show()

+------+------+
|STATUS| count|
+------+------+
|     1|328352|
|     0|209315|
+------+------+

In [24]:
#checking result on first 10 rows of dataframe
df_final.show(10)

+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS|
+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|             0|     1|
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -1|     1|
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -2|     1|
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -3|     1|
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -4|     1|
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -5|     1|
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -6|     1|
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -7|     1|
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -8|     0|
|5008806|          0|           0|              0|           0|        112500.0|         Working|Secondary / secon...|           Married|House / apartment|    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -9|     0|
+-------+-----------+------------+---------------+------------+----------------+----------------+--------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
only showing top 10 rows

In [25]:
# taking a random sample of 1% of the rows in df_final and then the first 10 rows of that sample will be displayed using the show() method.
df_final.sample(fraction=0.01).show(10)

+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-------------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE| NAME_EDUCATION_TYPE|  NAME_FAMILY_STATUS|  NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-------------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
|5008930|          1|           1|              0|           0|        297000.0|Commercial associate|Secondary / secon...|Single / not married|   Rented apartment|    -15519|        -3234|         1|              0|         0|         0|       Laborers|            1.0|            -5|     0|
|5008963|          1|           0|              0|           0|        135000.0|             Working|Secondary / secon...|             Married|  House / apartment|    -17785|        -1712|         1|              0|         0|         0|       Laborers|            2.0|           -26|     1|
|5009000|          0|           0|              0|           0|        157500.0|             Working|Secondary / secon...|             Married|  House / apartment|     -9927|         -828|         1|              0|         0|         0|        Drivers|            2.0|           -22|     0|
|5009042|          1|           1|              0|           0|        148500.0|             Working|    Higher education|             Married|  House / apartment|    -17641|         -889|         1|              0|         0|         0|     Core staff|            2.0|             0|     1|
|5009051|          1|           1|              0|           2|        202500.0|             Working|    Higher education|             Married|  House / apartment|    -10997|        -2289|         1|              0|         0|         1|     Core staff|            4.0|           -37|     0|
|5009051|          1|           1|              0|           2|        202500.0|             Working|    Higher education|             Married|  House / apartment|    -10997|        -2289|         1|              0|         0|         1|     Core staff|            4.0|           -39|     0|
|5009103|          0|           0|              0|           2|        157500.0|             Working|Secondary / secon...|             Married|       With parents|    -12859|        -4056|         1|              0|         1|         0|        Drivers|            4.0|             0|     1|
|5009191|          1|           1|              1|           0|        270000.0|             Working|    Higher education|             Married|  House / apartment|    -17573|        -5792|         1|              1|         1|         0|       Managers|            2.0|           -20|     0|
|5009204|          1|           1|              1|           0|        292500.0|       State servant|Secondary / secon...|             Married|  House / apartment|    -20953|        -8684|         1|              1|         1|         0|    Accountants|            2.0|             0|     0|
|5009272|          0|           1|              1|           0|        180000.0|Commercial associate|Secondary / secon...|             Married|Municipal apartment|    -14781|        -2443|         1|              0|         1|         0|       Laborers|            2.0|            -7|     1|
+-------+-----------+------------+---------------+------------+----------------+--------------------+--------------------+--------------------+-------------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
only showing top 10 rows

In [26]:
#counting the unique values of column NAME_INCOME_TYPE
from pyspark.sql.functions import count
df_final.groupBy('NAME_INCOME_TYPE').agg(count('*').alias('count')).show()

+--------------------+------+
|    NAME_INCOME_TYPE| count|
+--------------------+------+
|             Student|   322|
|Commercial associate|151412|
|       State servant| 52733|
|             Working|332868|
|           Pensioner|   332|
+--------------------+------+

In [27]:
# Merging the columns Student and Pensioner into new column - Others
df_final = df_final.withColumn('NAME_INCOME_TYPE', when(col('NAME_INCOME_TYPE').isin(['Working', 'Commercial associate', 'State servant']), col('NAME_INCOME_TYPE')).otherwise('others'))

In [28]:
df_final.groupBy('NAME_INCOME_TYPE').agg(count('*').alias('count')).show()

+--------------------+------+
|    NAME_INCOME_TYPE| count|
+--------------------+------+
|Commercial associate|151412|
|              others|   654|
|       State servant| 52733|
|             Working|332868|
+--------------------+------+

In [29]:
#counting the unique values of column NAME_EDUCATION_TYPE
df_final.groupBy('NAME_EDUCATION_TYPE').agg(count('*').alias('count')).show()

+--------------------+------+
| NAME_EDUCATION_TYPE| count|
+--------------------+------+
|   Incomplete higher| 20590|
|Secondary / secon...|358317|
|     Lower secondary|  4556|
|    Higher education|153770|
|     Academic degree|   434|
+--------------------+------+

In [30]:
from pyspark.sql.functions import split
df_final = df_final.withColumn('NAME_EDUCATION_TYPE', split(col('NAME_EDUCATION_TYPE'), '/').getItem(0))

In [31]:
df_final.groupBy('NAME_EDUCATION_TYPE').agg(count('*').alias('count')).show()

+-------------------+------+
|NAME_EDUCATION_TYPE| count|
+-------------------+------+
|  Incomplete higher| 20590|
|    Lower secondary|  4556|
|         Secondary |358317|
|   Higher education|153770|
|    Academic degree|   434|
+-------------------+------+

In [32]:
#counting the unique values of column NAME_FAMILY_STATUS
df_final.groupBy('NAME_FAMILY_STATUS').agg(count('*').alias('count')).show()
#df_final.groupBy("NAME_FAMILY_STATUS").count().show()

+--------------------+------+
|  NAME_FAMILY_STATUS| count|
+--------------------+------+
|           Separated| 31394|
|             Married|384003|
|Single / not married| 65944|
|               Widow| 12243|
|      Civil marriage| 44083|
+--------------------+------+

In [33]:
df_final = df_final.withColumn("NAME_FAMILY_STATUS", split(col("NAME_FAMILY_STATUS"), "/").getItem(0))

In [34]:
df_final.groupBy("NAME_FAMILY_STATUS").count().show()

+------------------+------+
|NAME_FAMILY_STATUS| count|
+------------------+------+
|           Single | 65944|
|         Separated| 31394|
|           Married|384003|
|             Widow| 12243|
|    Civil marriage| 44083|
+------------------+------+

In [35]:
#counting the unique values of column NAME_HOUSING_TYPE
df_final.groupBy("NAME_HOUSING_TYPE").count().show()

+-------------------+------+
|  NAME_HOUSING_TYPE| count|
+-------------------+------+
|  House / apartment|474177|
|Municipal apartment| 18023|
|    Co-op apartment|  3396|
|   Rented apartment|  8561|
|   Office apartment|  4159|
|       With parents| 29351|
+-------------------+------+

In [36]:
df_final = df_final.withColumn("NAME_HOUSING_TYPE", split(col("NAME_HOUSING_TYPE"), "/").getItem(0))

In [37]:
df_final.groupBy("NAME_HOUSING_TYPE").count().show()

+-------------------+------+
|  NAME_HOUSING_TYPE| count|
+-------------------+------+
|             House |474177|
|Municipal apartment| 18023|
|    Co-op apartment|  3396|
|   Rented apartment|  8561|
|   Office apartment|  4159|
|       With parents| 29351|
+-------------------+------+

In [38]:
#checking the result on random sample from dataframe
df_final.sample(fraction=0.01).show(100)

+-------+-----------+------------+---------------+------------+----------------+--------------------+-------------------+------------------+-------------------+----------+-------------+----------+---------------+----------+----------+--------------------+---------------+--------------+------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|    NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|  NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|     OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS|
+-------+-----------+------------+---------------+------------+----------------+--------------------+-------------------+------------------+-------------------+----------+-------------+----------+---------------+----------+----------+--------------------+---------------+--------------+------+
|5008895|          1|           1|              0|           0|        297000.0|Commercial associate|         Secondary |           Single |   Rented apartment|    -15519|        -3234|         1|              0|         0|         0|            Laborers|            1.0|           -29|     1|
|5008910|          1|           1|              0|           0|        297000.0|Commercial associate|         Secondary |           Single |   Rented apartment|    -15519|        -3234|         1|              0|         0|         0|            Laborers|            1.0|            -5|     1|
|5008963|          1|           0|              0|           0|        135000.0|             Working|         Secondary |           Married|             House |    -17785|        -1712|         1|              0|         0|         0|            Laborers|            2.0|           -22|     1|
|5008963|          1|           0|              0|           0|        135000.0|             Working|         Secondary |           Married|             House |    -17785|        -1712|         1|              0|         0|         0|            Laborers|            2.0|           -23|     1|
|5009001|          0|           1|              0|           0|        166500.0|             Working|         Secondary |           Married|             House |    -18926|        -6276|         1|              1|         1|         0|            Laborers|            2.0|           -38|     0|
|5009051|          1|           1|              0|           2|        202500.0|             Working|   Higher education|           Married|             House |    -10997|        -2289|         1|              0|         0|         1|          Core staff|            4.0|           -27|     1|
|5009099|          1|           1|              0|           0|        315000.0|             Working|   Higher education|         Separated|             House |    -13271|         -555|         1|              0|         0|         0|            Managers|            1.0|           -55|     1|
|5009162|          1|           1|              1|           0|        180000.0|             Working|         Secondary |           Married|             House |    -19575|        -2901|         1|              0|         0|         0|         Sales staff|            2.0|           -12|     1|
|5009272|          0|           1|              1|           0|        180000.0|Commercial associate|         Secondary |           Married|Municipal apartment|    -14781|        -2443|         1|              0|         1|         0|            Laborers|            2.0|            -6|     1|
|5009285|          1|           1|              1|           0|        130500.0|             Working|         Secondary |    Civil marriage|             House |    -15140|        -4816|         1|              0|         1|         0|      Cleaning staff|            2.0|           -40|     0|
|5009286|          1|           1|              1|           0|        130500.0|             Working|         Secondary |    Civil marriage|             House |    -15140|        -4816|         1|              0|         1|         0|      Cleaning staff|            2.0|           -46|     0|
|5009429|          0|           1|              1|           0|        198000.0|             Working|         Secondary |           Single |       With parents|     -8657|        -1164|         1|              1|         0|         0|            Laborers|            1.0|            -2|     0|
|5009503|          0|           0|              1|           0|        270000.0|Commercial associate|         Secondary |           Married|             House |    -11706|        -1164|         1|              1|         0|         1|             Drivers|            2.0|           -13|     1|
|5009503|          0|           0|              1|           0|        270000.0|Commercial associate|         Secondary |           Married|             House |    -11706|        -1164|         1|              1|         0|         1|             Drivers|            2.0|           -28|     0|
|5009515|          1|           1|              1|           0|        157500.0|             Working|  Incomplete higher|           Married|             House |    -16888|        -2687|         1|              0|         0|         0|          Core staff|            2.0|           -30|     0|
|5009555|          1|           1|              1|           0|        198000.0|Commercial associate|         Secondary |    Civil marriage|             House |    -18813|        -9748|         1|              0|         0|         0|            Laborers|            2.0|            -1|     0|
|5009602|          1|           0|              1|           0|        315000.0|Commercial associate|   Higher education|           Married|             House |    -13455|        -2748|         1|              1|         1|         0|         Sales staff|            2.0|           -26|     1|
|5009810|          1|           1|              1|           1|        202500.0|             Working|         Secondary |           Married|             House |    -11813|        -3266|         1|              1|         1|         0|         Sales staff|            3.0|           -43|     0|
|5009833|          0|           0|              1|           0|        166500.0|             Working|   Higher education|           Married|       With parents|    -10435|        -1713|         1|              1|         0|         0|          Core staff|            2.0|           -24|     1|
|5009859|          0|           0|              1|           0|        360000.0|Commercial associate|         Secondary |         Separated|       With parents|    -10276|         -556|         1|              1|         1|         0|             Drivers|            1.0|            -2|     1|
|5009922|          0|           0|              0|           0|        360000.0|             Working|   Higher education|           Married|             House |    -19958|        -7465|         1|              0|         0|         0|            Laborers|            2.0|            -6|     0|
|5009938|          1|           1|              0|           2|        157500.0|             Working|         Secondary |           Married|             House |    -10710|        -2351|         1|              0|         0|         0|         Sales staff|            4.0|           -32|     0|
|5009998|          0|           0|              0|           1|        360000.0|Commercial associate|         Secondary |           Married|             House |    -13940|         -617|         1|              0|         0|         0|            Managers|            3.0|           -19|     1|
|5010160|          0|           0|              0|           0|        252000.0|             Working|         Secondary |           Married|             House |    -22117|        -1621|         1|              0|         1|         1|      Security staff|            2.0|           -12|     0|
|5010161|          0|           0|              0|           0|        252000.0|             Working|         Secondary |           Married|             House |    -22117|        -1621|         1|              0|         1|         1|      Security staff|            2.0|           -27|     1|
|5010172|          1|           1|              0|           0|        135000.0|Commercial associate|         Secondary |           Married|             House |    -21300|         -464|         1|              0|         0|         0|            Laborers|            2.0|           -25|     0|
|5010370|          1|           0|              0|           1|        157500.0|             Working|   Higher education|         Separated|             House |     -9800|        -2109|         1|              0|         0|         1|      Medicine staff|            2.0|           -42|     1|
|5010503|          1|           0|              0|           0|        135000.0|             Working|         Secondary |           Single |             House |    -17334|        -2504|         1|              0|         0|         0|         Sales staff|            1.0|           -48|     0|
|5010549|          1|           0|              0|           0|        315000.0|Commercial associate|         Secondary |         Separated|             House |    -18184|        -3021|         1|              0|         1|         1|            Laborers|            1.0|            -6|     1|
|5010677|          0|           0|              0|           0|        189000.0|             Working|         Secondary |           Married|             House |    -20815|         -829|         1|              0|         0|         1|      Security staff|            2.0|            -9|     1|
|5010746|          0|           0|              0|           0|        157500.0|             Working|         Secondary |           Married|             House |    -22014|       -10236|         1|              1|         1|         0|          Core staff|            2.0|           -43|     0|
|5010768|          0|           1|              0|           0|        135000.0|             Working|         Secondary |           Single |             House |    -11036|        -4301|         1|              1|         1|         0|            Laborers|            1.0|            -5|     0|
|5011001|          1|           0|              0|           0|        157500.0|             Working|         Secondary |           Married|             House |    -10737|        -2078|         1|              0|         0|         1|         Sales staff|            2.0|           -19|     0|
|5011001|          1|           0|              0|           0|        157500.0|             Working|         Secondary |           Married|             House |    -10737|        -2078|         1|              0|         0|         1|         Sales staff|            2.0|           -22|     0|
|5011024|          0|           0|              0|           2|         99000.0|       State servant|         Secondary |           Married|       With parents|    -16558|        -3235|         1|              0|         0|         0|             Drivers|            4.0|            -3|     1|
|5018421|          1|           1|              0|           0|        135000.0|Commercial associate|         Secondary |           Married|             House |    -18414|        -5203|         1|              0|         0|         0|         Sales staff|            2.0|           -10|     0|
|5021253|          1|           1|              0|           0|        157500.0|             Working|         Secondary |           Married|             House |    -18456|        -6791|         1|              0|         0|         0|            Managers|            2.0|           -44|     1|
|5021253|          1|           1|              0|           0|        157500.0|             Working|         Secondary |           Married|             House |    -18456|        -6791|         1|              0|         0|         0|            Managers|            2.0|           -48|     1|
|5021423|          1|           1|              0|           0|        270000.0|             Working|         Secondary |           Married|             House |    -20066|        -3988|         1|              1|         1|         0|Private service s...|            2.0|            -2|     0|
|5021483|          1|           1|              0|           0|        135000.0|             Working|         Secondary |           Married|             House |    -11905|        -2470|         1|              0|         1|         1|       Cooking staff|            2.0|           -27|     1|
|5021509|          1|           1|              0|           0|        144000.0|       State servant|         Secondary |           Married|             House |    -18136|       -10110|         1|              0|         1|         0|High skill tech s...|            2.0|           -22|     0|
|5021520|          1|           1|              0|           0|        144000.0|       State servant|         Secondary |           Married|             House |    -18136|       -10110|         1|              0|         1|         0|High skill tech s...|            2.0|           -43|     1|
|5021701|          1|           1|              0|           1|        180000.0|Commercial associate|         Secondary |         Separated|             House |    -18520|        -2101|         1|              0|         1|         1|          Core staff|            2.0|           -46|     0|
|5021754|          1|           1|              0|           0|        171000.0|             Working|  Incomplete higher|           Married|             House |    -11052|         -609|         1|              0|         0|         0|High skill tech s...|            2.0|            -8|     0|
|5021797|          1|           1|              0|           0|        225000.0|Commercial associate|         Secondary |           Married|             House |    -12325|         -187|         1|              0|         0|         0|          Core staff|            2.0|           -17|     1|
|5021801|          1|           1|              0|           0|        225000.0|Commercial associate|         Secondary |           Married|             House |    -12325|         -187|         1|              0|         0|         0|          Core staff|            2.0|           -10|     1|
|5021801|          1|           1|              0|           0|        225000.0|Commercial associate|         Secondary |           Married|             House |    -12325|         -187|         1|              0|         0|         0|          Core staff|            2.0|           -13|     0|
|5022072|          1|           1|              0|           0|         90000.0|             Working|         Secondary |           Married|             House |    -19452|        -1218|         1|              1|         0|         0|         Sales staff|            2.0|            -8|     0|
|5022117|          0|           1|              0|           0|        315000.0|             Working|         Secondary |           Married|             House |    -19686|        -1131|         1|              0|         0|         0|            Laborers|            2.0|           -21|     1|
|5022206|          0|           1|              0|           1|        202500.0|Commercial associate|         Secondary |           Married|             House |    -14143|         -275|         1|              0|         1|         0|             Drivers|            3.0|           -39|     0|
|5022252|          1|           1|              0|           0|        202500.0|             Working|         Secondary |           Married|             House |    -15231|        -8375|         1|              0|         0|         1|High skill tech s...|            2.0|           -34|     1|
|5022298|          1|           1|              1|           1|        157500.0|             Working|         Secondary |    Civil marriage|             House |    -15100|        -3500|         1|              0|         0|         0|       Cooking staff|            3.0|           -12|     1|
|5022371|          0|           0|              1|           0|        270000.0|             Working|  Incomplete higher|           Married|             House |    -11172|        -3504|         1|              0|         0|         0|            Laborers|            2.0|           -47|     0|
|5022383|          1|           1|              0|           0|        225000.0|Commercial associate|   Higher education|             Widow|             House |    -21594|       -11693|         1|              1|         1|         0|            Laborers|            1.0|           -31|     1|
|5022426|          1|           1|              0|           0|         90000.0|             Working|         Secondary |    Civil marriage|             House |    -16569|         -517|         1|              0|         0|         0|            Laborers|            2.0|           -15|     1|
|5022426|          1|           1|              0|           0|         90000.0|             Working|         Secondary |    Civil marriage|             House |    -16569|         -517|         1|              0|         0|         0|            Laborers|            2.0|           -35|     0|
|5022536|          1|           1|              0|           2|        202500.0|             Working|   Higher education|           Married|             House |    -10724|        -3074|         1|              0|         0|         0|High skill tech s...|            4.0|            -6|     0|
|5022548|          1|           1|              0|           0|        247500.0|Commercial associate|   Higher education|           Single |             House |    -11984|        -2043|         1|              0|         0|         1|          Core staff|            1.0|            -6|     1|
|5022619|          0|           0|              0|           0|        202500.0|Commercial associate|         Secondary |    Civil marriage|             House |    -12022|        -1674|         1|              0|         0|         1|            Laborers|            2.0|           -34|     1|
|5022684|          1|           1|              1|           0|        157500.0|             Working|         Secondary |         Separated|       With parents|    -14309|         -548|         1|              1|         1|         0|         Sales staff|            1.0|            -9|     0|
|5022707|          0|           0|              0|           0|        315000.0|             Working|         Secondary |           Single |             House |    -14064|        -5326|         1|              0|         0|         0|             Drivers|            1.0|            -9|     0|
|5022834|          0|           0|              0|           0|        202500.0|             Working|         Secondary |           Married|             House |    -17262|        -1617|         1|              0|         0|         0|          Core staff|            2.0|            -3|     0|
|5022837|          0|           0|              0|           0|        202500.0|             Working|         Secondary |           Married|             House |    -17262|        -1617|         1|              0|         0|         0|          Core staff|            2.0|           -13|     1|
|5022944|          1|           0|              1|           0|        202500.0|Commercial associate|  Incomplete higher|         Separated|             House |    -14096|        -1344|         1|              0|         1|         1|         Accountants|            1.0|           -55|     1|
|5022958|          1|           1|              1|           0|         99000.0|Commercial associate|         Secondary |         Separated|             House |    -15025|         -213|         1|              0|         0|         1|         Sales staff|            1.0|           -10|     1|

In [39]:
#rounding off the values in column AMT_INCOME_TOTAL
df_final = df_final.withColumn('AMT_INCOME_TOTAL', col('AMT_INCOME_TOTAL')/1000)
df_final = df_final.withColumn('AMT_INCOME_TOTAL', col('AMT_INCOME_TOTAL').cast('integer'))
df_final.show(5)

+-------+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|DAYS_BIRTH|DAYS_EMPLOYED|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS|
+-------+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|             0|     1|
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -1|     1|
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -2|     1|
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -3|     1|
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |    -21474|        -1134|         1|              0|         0|         0| Security staff|            2.0|            -4|     1|
+-------+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+-------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+
only showing top 5 rows

In [40]:
#converting days into years in column DAYS_BIRTH and DAYS_EMPLOYED and assigning them into new columns Age and employee_from_years 
from pyspark.sql.functions import round
df_final = df_final.withColumn('Age', round(-(col('DAYS_BIRTH')/365)))
df_final = df_final.withColumn('employee_from_years', round(-(col('DAYS_EMPLOYED')/365)))

# Drop the column 'DAYS_BIRTH' & 'DAYS_EMPLOYED'.
df_final = df_final.drop('DAYS_BIRTH', 'DAYS_EMPLOYED')
df_final.show(5)

+-------+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+----+-------------------+
|     ID|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|CNT_CHILDREN|AMT_INCOME_TOTAL|NAME_INCOME_TYPE|NAME_EDUCATION_TYPE|NAME_FAMILY_STATUS|NAME_HOUSING_TYPE|FLAG_MOBIL|FLAG_WORK_PHONE|FLAG_PHONE|FLAG_EMAIL|OCCUPATION_TYPE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS| Age|employee_from_years|
+-------+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+----+-------------------+
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |         1|              0|         0|         0| Security staff|            2.0|             0|     1|59.0|                3.0|
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |         1|              0|         0|         0| Security staff|            2.0|            -1|     1|59.0|                3.0|
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |         1|              0|         0|         0| Security staff|            2.0|            -2|     1|59.0|                3.0|
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |         1|              0|         0|         0| Security staff|            2.0|            -3|     1|59.0|                3.0|
|5008806|          0|           0|              0|           0|             112|         Working|         Secondary |           Married|           House |         1|              0|         0|         0| Security staff|            2.0|            -4|     1|59.0|                3.0|
+-------+-----------+------------+---------------+------------+----------------+----------------+-------------------+------------------+-----------------+----------+---------------+----------+----------+---------------+---------------+--------------+------+----+-------------------+
only showing top 5 rows

In [41]:
df_final.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- CODE_GENDER: integer (nullable = false)
 |-- FLAG_OWN_CAR: integer (nullable = false)
 |-- FLAG_OWN_REALTY: integer (nullable = false)
 |-- CNT_CHILDREN: integer (nullable = true)
 |-- AMT_INCOME_TOTAL: integer (nullable = true)
 |-- NAME_INCOME_TYPE: string (nullable = true)
 |-- NAME_EDUCATION_TYPE: string (nullable = true)
 |-- NAME_FAMILY_STATUS: string (nullable = true)
 |-- NAME_HOUSING_TYPE: string (nullable = true)
 |-- FLAG_MOBIL: integer (nullable = true)
 |-- FLAG_WORK_PHONE: integer (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- FLAG_EMAIL: integer (nullable = true)
 |-- OCCUPATION_TYPE: string (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)
 |-- MONTHS_BALANCE: integer (nullable = true)
 |-- STATUS: integer (nullable = false)
 |-- Age: double (nullable = true)
 |-- employee_from_years: double (nullable = true)

In [44]:
#Dropping columns ID , CNT_CHILDREN , FLAG_MOBIL , FLAG_WORK_PHONE , FLAG_EMAIL 
df_final = df_final.drop('ID', 'CNT_CHILDREN', 'FLAG_MOBIL', 'FLAG_WORK_PHONE', 'FLAG_EMAIL')
df_final.printSchema()

root
 |-- CODE_GENDER: integer (nullable = false)
 |-- FLAG_OWN_CAR: integer (nullable = false)
 |-- FLAG_OWN_REALTY: integer (nullable = false)
 |-- AMT_INCOME_TOTAL: integer (nullable = true)
 |-- NAME_INCOME_TYPE: string (nullable = true)
 |-- NAME_EDUCATION_TYPE: string (nullable = true)
 |-- NAME_FAMILY_STATUS: string (nullable = true)
 |-- NAME_HOUSING_TYPE: string (nullable = true)
 |-- FLAG_PHONE: integer (nullable = true)
 |-- OCCUPATION_TYPE: string (nullable = true)
 |-- CNT_FAM_MEMBERS: double (nullable = true)
 |-- MONTHS_BALANCE: integer (nullable = true)
 |-- STATUS: integer (nullable = false)
 |-- Age: double (nullable = true)
 |-- employee_from_years: double (nullable = true)

In [53]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df_pandas = df_final.toPandas()
plt.figure(figsize = (15,10))
sns.heatmap(df_pandas.corr(), annot = True )
plt.title('Correlation between the Features', size = 15)
plt.show()

ValueError: could not convert string to float: 'Working'

In [54]:
#df_pandas.head()
df_pandas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 537667 entries, 0 to 537666
Data columns (total 15 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   CODE_GENDER          537667 non-null  int32
 1   FLAG_OWN_CAR         537667 non-null  int32
 2   FLAG_OWN_REALTY      537667 non-null  int32
 3   AMT_INCOME_TOTAL     537667 non-null  int32
 4   NAME_INCOME_TYPE     537667 non-null  object
 5   NAME_EDUCATION_TYPE  537667 non-null  object
 6   NAME_FAMILY_STATUS   537667 non-null  object
 7   NAME_HOUSING_TYPE    537667 non-null  object
 8   FLAG_PHONE           537667 non-null  int32
 9   OCCUPATION_TYPE      537667 non-null  object
 10  CNT_FAM_MEMBERS      537667 non-null  float64
 11  MONTHS_BALANCE       537667 non-null  int32
 12  STATUS               537667 non-null  int32
 13  Age                  537667 non-null  float64
 14  employee_from_years  537667 non-null  float64
dtypes: float64(3), int32(7), object(5)
memory usage: 47.2+ MB

In [55]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder
def one_hot_encode(df, columns):
    for col_name in columns:
        indexer = StringIndexer(inputCol=col_name, outputCol=f"{col_name}_index")
        df = indexer.fit(df).transform(df)

        encoder = OneHotEncoder(inputCols=[f"{col_name}_index"], outputCols=[f"{col_name}_one_hot"], dropLast=True)
        df = encoder.fit(df).transform(df)

        df = df.drop(col_name).drop(f"{col_name}_index")

    return df

In [56]:
categories=['NAME_INCOME_TYPE','NAME_EDUCATION_TYPE','NAME_FAMILY_STATUS','NAME_HOUSING_TYPE','OCCUPATION_TYPE']
final_df = one_hot_encode(df_final, categories)
final_df.show(5)

+-----------+------------+---------------+----------------+----------+---------------+--------------+------+----+-------------------+------------------------+---------------------------+--------------------------+-------------------------+-----------------------+
|CODE_GENDER|FLAG_OWN_CAR|FLAG_OWN_REALTY|AMT_INCOME_TOTAL|FLAG_PHONE|CNT_FAM_MEMBERS|MONTHS_BALANCE|STATUS| Age|employee_from_years|NAME_INCOME_TYPE_one_hot|NAME_EDUCATION_TYPE_one_hot|NAME_FAMILY_STATUS_one_hot|NAME_HOUSING_TYPE_one_hot|OCCUPATION_TYPE_one_hot|
+-----------+------------+---------------+----------------+----------+---------------+--------------+------+----+-------------------+------------------------+---------------------------+--------------------------+-------------------------+-----------------------+
|          0|           0|              0|             112|         0|            2.0|             0|     1|59.0|                3.0|           (3,[0],[1.0])|              (4,[0],[1.0])|             (4,[0],[1.0])|            (5,[0],[1.0])|         (17,[9],[1.0])|
|          0|           0|              0|             112|         0|            2.0|            -1|     1|59.0|                3.0|           (3,[0],[1.0])|              (4,[0],[1.0])|             (4,[0],[1.0])|            (5,[0],[1.0])|         (17,[9],[1.0])|
|          0|           0|              0|             112|         0|            2.0|            -2|     1|59.0|                3.0|           (3,[0],[1.0])|              (4,[0],[1.0])|             (4,[0],[1.0])|            (5,[0],[1.0])|         (17,[9],[1.0])|
|          0|           0|              0|             112|         0|            2.0|            -3|     1|59.0|                3.0|           (3,[0],[1.0])|              (4,[0],[1.0])|             (4,[0],[1.0])|            (5,[0],[1.0])|         (17,[9],[1.0])|
|          0|           0|              0|             112|         0|            2.0|            -4|     1|59.0|                3.0|           (3,[0],[1.0])|              (4,[0],[1.0])|             (4,[0],[1.0])|            (5,[0],[1.0])|         (17,[9],[1.0])|
+-----------+------------+---------------+----------------+----------+---------------+--------------+------+----+-------------------+------------------------+---------------------------+--------------------------+-------------------------+-----------------------+
only showing top 5 rows

In [ ]:
# from sklearn.model_selection import train_test_split
# x_train, x_test, y_train, y_test=train_test_split(X,y,test_size=0.25,random_state=50)

In [57]:
n_rows = final_df.count()
n_cols = len(final_df.columns)
print("No. of Rows in Final data frame:")
print(n_rows)
print("No. of Columns in Final data frame:")
print(n_cols)

No. of Rows in Final data frame:
537667
No. of Columns in Final data frame:
15

In [58]:
from pyspark.sql.functions import countDistinct
unique_count1 = final_df.select(countDistinct('CODE_GENDER')).collect()[0][0]
unique_count2 = final_df.select(countDistinct('STATUS')).collect()[0][0]
unique_count3 = final_df.select(countDistinct('FLAG_OWN_CAR')).collect()[0][0]
unique_count4 = final_df.select(countDistinct('FLAG_OWN_REALTY')).collect()[0][0]
print("Number of unique values in 'CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','STATUS' is" , unique_count1 ,unique_count2 ,unique_count3 ,unique_count4)

Number of unique values in 'CODE_GENDER','FLAG_OWN_CAR','FLAG_OWN_REALTY','STATUS' is 2 2 2 2

**Logistic Regression**

In [59]:
# Logistic Regression
from pyspark.ml.feature import VectorAssembler
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import BinaryClassificationEvaluator

# Combine all input features into a single vector
assembler = VectorAssembler(inputCols=[c for c in final_df.columns if c != 'STATUS'],outputCol='features')
data = assembler.transform(final_df)

# Split data into train and test sets
(train_data, test_data) = data.randomSplit([0.8, 0.2], seed=2)

# Define the logistic regression model
lr = LogisticRegression(featuresCol='features', labelCol='STATUS')

# Train the model
lr_model = lr.fit(train_data)

# Make predictions on test data
predictions = lr_model.transform(test_data)

# Evaluate the model's performance on test data
evaluator = BinaryClassificationEvaluator(labelCol='STATUS')
auc = evaluator.evaluate(predictions)

print(f"Test AUC: {auc:.4f}")

Test AUC: 0.5851

**Random Forest Classifier**

In [60]:
# Random Forest classifier
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Combine all input features into a single vector
assembler = VectorAssembler(inputCols=[c for c in final_df.columns if c != 'STATUS'], outputCol='features')
data = assembler.transform(final_df)

# Scale the features
scaler = StandardScaler(inputCol='features', outputCol='scaledFeatures')
scalerModel = scaler.fit(data)
data = scalerModel.transform(data)

# Split data into train and test sets
(train_data, test_data) = data.randomSplit([0.8, 0.2], seed=2)

# Define the Random Forest classifier model
rf = RandomForestClassifier(featuresCol='scaledFeatures', labelCol='STATUS')

# Train the model
rf_model = rf.fit(train_data)

# Make predictions on test data
predictions = rf_model.transform(test_data)

# Evaluate the model's performance on test data
evaluator = MulticlassClassificationEvaluator(labelCol='STATUS', metricName='accuracy')
accuracy = evaluator.evaluate(predictions)

print(f"Test accuracy: {accuracy:.4f}")

Test accuracy: 0.6117

**Support Vector machine**

In [61]:
# Support Vector machine
from pyspark.ml.classification import LinearSVC
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.feature import VectorAssembler

# Combine all input features into a single vector
assembler = VectorAssembler(inputCols=[c for c in final_df.columns if c != 'STATUS'],
                            outputCol='features')
data = assembler.transform(final_df)

# Split data into train and test sets
(train_data, test_data) = data.randomSplit([0.8, 0.2], seed=2)

# Define the SVM model
svm = LinearSVC(featuresCol='features', labelCol='STATUS', maxIter=10, regParam=0.1)

# Train the model
svm_model = svm.fit(train_data)

# Make predictions on test data
predictions = svm_model.transform(test_data)

# Evaluate the model's performance on test data
evaluator = BinaryClassificationEvaluator(labelCol='STATUS')
auc = evaluator.evaluate(predictions)

print(f"Test AUC: {auc:.4f}")

Test AUC: 0.5708

**Decision Tree Classifier**

In [62]:
# Decision Tree Classifier
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

# Combine all input features into a single vector
assembler = VectorAssembler(inputCols=[c for c in final_df.columns if c != 'STATUS'], outputCol='features')
data = assembler.transform(final_df)

# Scale the features
scaler = StandardScaler(inputCol='features', outputCol='scaledFeatures')
scalerModel = scaler.fit(data)
data = scalerModel.transform(data)

# Split data into train and test sets
(train_data, test_data) = data.randomSplit([0.8, 0.2], seed=2)

# Define the Decision Tree Classifier model
dt = DecisionTreeClassifier(featuresCol='scaledFeatures', labelCol='STATUS')

# Train the model
dt_model = dt.fit(train_data)

# Make predictions on test data
predictions = dt_model.transform(test_data)

# Evaluate the model's performance on test data
evaluator = MulticlassClassificationEvaluator(labelCol='STATUS', metricName='accuracy')
accuracy = evaluator.evaluate(predictions)

print(f"Test accuracy: {accuracy:.4f}")



# Evaluate the model's performance on test data
evaluator = BinaryClassificationEvaluator(labelCol='STATUS')
auc = evaluator.evaluate(predictions)

Test accuracy: 0.6254